{
  "extends": [
    "bigbigbo/lib/javascript",
    "bigbigbo/lib/javascript-react",
    "bigbigbo/lib/typescript",
    "bigbigbo/lib/typescript-react"
  ],
  "rules": {
    "semi": "error"
  },
  "env": {
    "browser": true
  }
}